<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.locationtracker">

    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SugLvlChart"/>
        <activity android:name=".SugarChartMain" />
        <activity android:name=".AtRisk" />
        <activity android:name=".KidsAdults" />
        <activity android:name=".GlucoseLevels" />
        <activity android:name=".sugarLevelsmain" />
        <activity android:name=".Pregnant" />
        <activity android:name=".Agebelow" />
        <activity android:name=".Ageabove" />
        <activity android:name=".Locator" />
        <activity android:name=".Exit" />
        <activity android:name=".SugarFastingLevels" />
        <activity android:name=".SugarHema" />
        <activity android:name=".SugarReasons" />
        <activity android:name=".SugarInflamation" />
        <activity android:name=".SugarAddiction" />
        <activity android:name=".SugarBodyControl" />
        <activity android:name=".SugarExpected" />
        <activity android:name=".SugarStrategies" />
        <activity android:name=".SmokeEff" />
        <activity android:name=".CompassNightMode" />
        <activity android:name=".CompassStandardMode" />
        <activity android:name=".FlashAlertMain" />
        <activity android:name=".FlashClapMain" />
        <activity android:name=".ColorLightMain" />
        <activity android:name=".DjLightsMain" />
        <activity android:name=".TrafficLightMain" />
        <activity android:name=".ScreenLightMain" />
        <activity android:name=".PoliceSirenMain" />
        <activity android:name=".TorchMain" />
        <activity android:name=".FlashScreenMain" />
        <activity android:name=".RingtonesSave" />
        <activity android:name=".RingtonesCreate" />
        <activity android:name=".SugTopCoubtries" />
        <activity android:name=".SugMapDeathMain" />
        <activity android:name=".SugarMapMain" />
        <activity android:name=".KeytonLevelsMain" />
        <activity android:name=".SugarLowMain" />
        <activity android:name=".BloodTestMain" />
        <activity android:name=".BlockFromCon" />
        <activity android:name=".BlockFromLogs" />
        <activity android:name=".BlockedList" />
        <activity android:name=".BlockContacts" />
        <activity android:name=".NewNumBlock" />
        <activity android:name=".SugarTestMain" />
        <activity android:name=".LowSugar" />
        <activity android:name=".SugReport" />
        <activity android:name=".HbA1cMain" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DiabetesMain" />
        <activity android:name=".SugarLevelsMain" />
        <activity android:name=".BSWorldMap" />
        <activity android:name=".SugarInfo" />
        <activity android:name=".SugarLevels" />
        <activity android:name=".HealthTips" />
        <activity android:name=".LocReport" />
        <activity android:name=".STDCodes" />
        <activity android:name=".LocSettings" />
        <activity android:name=".CallBlocker" />
        <activity android:name=".ISDCodes" />
        <activity android:name=".Compass" />
        <activity android:name=".CompassMain" />
        <activity android:name=".FlashTools" />
        <activity android:name=".MobileLocator" />
        <activity android:name=".Ringtones" />
        <activity android:name=".SugarTest" />
        <activity android:name=".Home" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="YOUR_ADMOB_APP_ID" />
    </application>

</manifest>